/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}

.card-style {
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
}

.car-brand-style {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: rgb(73, 145, 121);
  text-align: center;
}

.car-model-style {
  padding: 0.2rem 1rem;
  list-style-type: none;
}

.car-model-style:nth-child(odd) {
  color: red;
}
